/* @keyframes show {
    from {
        opacity: 0;
        scale: 80%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

#experience-title, #timeline {
    view-timeline-name: --reveal;

    animation-name: show;
    animation-fill-mode: both;

    animation-timeline: --reveal;
    animation-range: entry 50% cover 30%;
}
 */

.logo-container {
  overflow: hidden;
}

.logo {
  overflow: hidden;
}

.logo-track {
  animation: infinite-scroll 20s linear infinite;
  width: fit-content;
}

@keyframes infinite-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.float-animation {
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-12px);
    }
}
