---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
  {
    date: 'Enero 2025',
    title: 'Soporte y Desarrollo Web — 1cero1',
    description: 'Encargado de la gestión, soporte y mantenimiento de portales web de municipios en convenio. Desarrollé diseños y rediseños orientados a garantizar un funcionamiento óptimo y ofrecer una mejor experiencia de usuario.',
    link: '#'
  },
]
---

<ol class="relative border-s border-purple-400">                  
    {
        EXPERIENCE.map(experience =>(
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>